In [1]:
import pandas as pd
from typing import List

# A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).
Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

In [2]:
data = [
    {"name": "Afghanistan", "continent": "Asia", "area": 652230, "population": 25500100, "gdp": 20343000000},
    {"name": "Albania", "continent": "Europe", "area": 28748, "population": 2831741, "gdp": 12960000000},
    {"name": "Algeria", "continent": "Africa", "area": 2381741, "population": 37100000, "gdp": 188681000000},
    {"name": "Andorra", "continent": "Europe", "area": 468, "population": 78115, "gdp": 3712000000},
    {"name": "Angola", "continent": "Africa", "area": 1246700, "population": 20609294, "gdp": 100990000000},
]
df = pd.DataFrame(data)

In [3]:
df

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [4]:
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
   cuntry=world[(world['area']>=3000000) | (world['population']>=25000000)]
   return(cuntry[['name','population','area']])

In [5]:
big_countries(df)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

# Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

In [6]:
data = [
    {"product_id": 0, "low_fats": "Y", "recyclable": "N"},
    {"product_id": 1, "low_fats": "Y", "recyclable": "Y"},
    {"product_id": 2, "low_fats": "N", "recyclable": "Y"},
    {"product_id": 3, "low_fats": "Y", "recyclable": "Y"},
    {"product_id": 4, "low_fats": "N", "recyclable": "N"},
]

df = pd.DataFrame(data)

In [7]:
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    c=products[(products['low_fats']=='Y') & (products['recyclable']=='Y')]
    return(c[['product_id']])

In [8]:
find_products(df)

   product_id
1           1
3           3

# Write a solution to find all customers who never order anything.

Return the result table in any order.

In [9]:
customers_data = {
    "id": [1, 2, 3, 4],
    "name": ["Joe", "Henry", "Sam", "Max"]
}

orders_data = {
    "id": [1, 2],
    "customerId": [3, 1]
}

customers_df = pd.DataFrame(customers_data)
orders_df = pd.DataFrame(orders_data)

In [10]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    c=pd.DataFrame(customers[~(customers['id'].isin(orders['customerId']))]['name'])   
    return(c.rename(columns={'name':'Customers'}))

In [11]:
find_customers(customers_df,orders_df)

  Customers
1     Henry
3       Max

# Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

In [12]:
data = [
    {"article_id": 1, "author_id": 3, "viewer_id": 5, "view_date": "2019-08-01"},
    {"article_id": 1, "author_id": 3, "viewer_id": 6, "view_date": "2019-08-02"},
    {"article_id": 2, "author_id": 7, "viewer_id": 7, "view_date": "2019-08-01"},
    {"article_id": 2, "author_id": 7, "viewer_id": 6, "view_date": "2019-08-02"},
    {"article_id": 4, "author_id": 7, "viewer_id": 1, "view_date": "2019-07-22"},
    {"article_id": 3, "author_id": 4, "viewer_id": 4, "view_date": "2019-07-21"},
    {"article_id": 3, "author_id": 4, "viewer_id": 4, "view_date": "2019-07-21"},
]

df = pd.DataFrame(data)

In [13]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    c=views[views['author_id']==views['viewer_id']][['author_id']]
    c1=pd.DataFrame(c['author_id'].unique(),columns=['id']).sort_values(by='id')
    return(c1)

In [14]:
article_views(df)

   id
1   4
0   7